{#
/**
* @file
* Default theme implementation for a breadcrumb trail.
*
* Available variables:
* - breadcrumb: Breadcrumb trail items.
*
* @ingroup templates
*/
#}
<div class="breadcrumbs">
  {% if breadcrumb %}
    <ol class="breadcrumb">
      <li {{ item.attributes }}>
				<a href="https://www.energy.gov/eere/office-energy-effficiency-renewable-energy">EERE</a> &raquo; <a href='{{ base_path }}'>{{ site_name }}</a>
      </li>
        {% for item in breadcrumb %}
      <li {{ item.attributes }}>
        {% if item.url %}
          <a href="{{ item.url }}">{{ item.text }}</a>
        {% else %}
          {{ item.text }}
        {% endif %}
      </li>
    {% endfor %}
  </ol>
  {% endif %}
</div>
