{#
/**
* @file
* Default theme implementation for a breadcrumb trail.
*
* Available variables:
* - breadcrumb: Breadcrumb trail items.
*
* @ingroup templates
*/
#}
{{ attach_library('bootstrap_barrio/breadcrumb') }}
<div class="breadcrumbs">
  {% if breadcrumb %}
    <ol class="breadcrumb">
      {% for item in breadcrumb %}
        <li {{ item.attributes }}>
          {% if item.url %}
            &nbsp;<a href="{{ item.url }}">{{ item.text }}</a>&nbsp;&raquo;&nbsp;
          {% else %}
            &nbsp;{{ item.text }}
          {% endif %}
        </li>
      {% endfor %}
    </ol>
  {% endif %}
</div>
